<!DOCTYPE html>
<html>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <h1>RapidMiner Server</h1>
  <header>
  <% include ./partials/header %>
</header>
  <head>
    <title>RapidMiner Server</title>
  </head>
<body>
<a href="javascript:history.back()"> Volver Atrás</a>
<h4>Elija el foro del que desee ver los indicadores de rendimiento</h4>
<br/><br/>
<form method='POST' action='/rapid' id="course" enctype="application/x-www-form-urlencoded">
<input type="hidden" value=<%=url%> name='url'>
<input type="hidden" value=<%=token%> name='token'>
<input type="hidden" value=<%=array%> name='foros'>
<input type="hidden" value=<%=arrayW%> name='wikis'>
<input type="hidden" value=<%=arrayA%> name='assigns'>
<input type="hidden" value=<%=courseid%> name='courseid'>
<div class="row">
<div class="col-md-3">
	<p>Seleccione el foro:</p>
</div>
<br></br>
<div class="col-md-3">
<select id="id" name="foros"></select>
<script type="text/javascript">
var arrays = <%- JSON.stringify(array) %>;
for(i=0;i<arrays.length;i++){
  var opt = document.createElement("option");
  opt.text = arrays[i].forumid+'-'+arrays[i].forumname;
  opt.value = arrays[i].forumid;
  document.getElementById("id").add(opt,0);
}
</script>
<br></br>
<br></br>
<select id="wikis" name="wikis"></select>
<script type="text/javascript">
var arraysW = <%- JSON.stringify(arrayW) %>;
for(i=0;i<arraysW.length;i++){
  var opt = document.createElement("option");
  opt.text = arraysW[i].wikiid+'-'+arraysW[i].wikiname;
  opt.value = arraysW[i].wikiid;
  document.getElementById("wikis").add(opt,0);
}
</script>
<br></br>
<br></br>
<select id="assigns" name="assigns"></select>
<script type="text/javascript">
var arraysA = <%- JSON.stringify(arrayA) %>;
for(i=0;i<arraysA.length;i++){
  var opt = document.createElement("option");
  opt.text = arraysA[i].assignid+'-'+arraysA[i].assignname;
  opt.value = [arraysA[i].assignid,arraysA[i].assigncmid];
  document.getElementById("assigns").add(opt,0);
}
</script>
<br></br>
<br></br>
<input type = "radio" name = "check" value = "table" /> Opción 1: Visualizar tabla
<br></br>
<input type = "radio" name = "check" value = "excel" /> Opción 2: Descargar excel
<br></br>
<input type="submit" value="Mostrar" padding= 200px> 
</div></div>
</form>
<br/> 
</body>
<footer>
<br/><br/><br/><br/>
    <% include ./partials/footer %>
</footer>
</html>